*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-none{
    display: none;
}

body{
    background-image: url(./img/bg.jpeg);
    font-family: Montserrat;
}

header{
    height: 80px;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 1rem;
}

.start_game{
    background-color: red;
    width: 100px;
    height: 50px;
    border: 3px solid black;
    color: white;
    border-radius: 8px;
}

.reset{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 50px;
    border: none;
    color: rgb(255, 0, 0);
    border-radius: 8px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    background-color: rgba(171, 171, 171, 0.334);
    padding: 2rem;
    margin: auto;
    border-radius: 2rem;
}

.cell{
    width: calc(100% / 10);
    aspect-ratio: 1;
    border: 1px solid black;
    padding: 0.25rem;
}

.bg-red{
    background-color: red;
}